name: publish

permissions: {}

on:
  push:
    # branches:
    #   # - "*"
    # tags:
    #   - "v[0-9]*"
jobs:
  check-version:
    name: Check Version
    runs-on: ubuntu-latest
    outputs:
      prerelease: ${{ steps.version.outputs.prerelease && true || false }}
    steps:
      - name: Check version
        uses: madhead/semver-utils@v4
        id: version
        with:
          version: ${{ github.ref_name }}
          lenient: true

  create-release:
    name: Create Release
    runs-on: ubuntu-latest
    needs:
      - check-version
      - publish-docker
    permissions:
      contents: write
      id-token: write
    if: ${{ github.ref_type == 'tag' }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Create release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release create \
            "$GITHUB_REF_NAME" \
            ${{ needs.check-version.outputs.prerelease == 'true' && '--prerelease' || '' }} \
            --notes "zeity $GITHUB_REF_NAME"

  publish-docker:
    runs-on: ubuntu-latest
    needs: check-version
    permissions:
      id-token: write
      packages: write
    steps:
      - uses: actions/checkout@v6

      - name: Determine Docker image
        id: image
        run: |
          if [[ "${{ github.ref_type }}" == "tag" ]]; then
            echo "image=ghcr.io/zeity-dev/zeity" >> $GITHUB_ENV
          else
            echo "image=ghcr.io/zeity-dev/zeity-edge" >> $GITHUB_ENV
          fi

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          # use the dynamically determined image name
          images: ${{ env.image }}
          # generate Docker tags based on the following events/attributes
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=raw,value=latest,enable=${{ github.ref_name == 'main' || github.ref_type == 'tag' }}
          # TODO: use after stable release
          # type=raw,value=latest,enable=${{ github.ref_type == 'tag' && needs.check-version.outputs.prerelease == 'false' }}
          # type=raw,value=${{ needs.check-version.outputs.prerelease }},enable=${{ github.ref_type == 'tag' && needs.check-version.outputs.prerelease }}

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # - name: Set up QEMU
      #   uses: docker/setup-qemu-action@v3

      # - name: Set up Docker Buildx
      #   uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          # platforms: linux/amd64,linux/arm64
          push: true
          context: .
          file: apps/zeity/Dockerfile
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
